<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Conway_GameofLife.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Conway_GameofLife.Properties.Settings>
            <setting name="Width" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="TimeInterval" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="NeightborCountColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="LivingNextColor" serializeAs="String">
                <value>LightYellow</value>
            </setting>
            <setting name="DyingNextColor" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="StillAliveColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="TypeOfUniverse" serializeAs="String">
                <value>Finite</value>
            </setting>
            <setting name="ViewGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewHud" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ViewNeightbors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Gridlines" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Gridlinesx10" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="BackGroundColor" serializeAs="String">
                <value>White</value>
            </setting>
        </Conway_GameofLife.Properties.Settings>
    </userSettings>
</configuration>